<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi culpa consectetur beatae provident molestias quam perspiciatis reprehenderit quae iure dolores incidunt, sint dicta sapiente fugit. Cum placeat iste doloribus ullam!</p>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi culpa consectetur beatae provident molestias quam perspiciatis reprehenderit quae iure dolores incidunt, sint dicta sapiente fugit. Cum placeat iste doloribus ullam!</p>
        </div>
    </body>
</html>
